.pick-profile-picture{
  fieldset{
    margin: 0!important;

    width: 25rem;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
  }
  legend{
    display: none;
  }
}
.enlarged-avatar {
  width: 25rem;
  height: 25rem;
  border: solid;
  display: flex;
  justify-content: center;
  align-items: center;
  .the-avatar {
    width: 23rem;
    height: 23rem;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 0.4rem;
}
}
.form-check{
  padding: 0;
  .radio_buttons{
    display: none;
    padding: 0%;
  }
}

// Avatar Stlyings
.form-check-label{
  border: solid 0.1rem grey;
  border-radius: 0.2rem;
  width: 4rem;
  height: 4rem;
  font-size: 0;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 1rem;
}
#user_profile_picture_cheerleader_png + label {
  background-image: url("cheerleader.png");
}
#user_profile_picture_cheerleader_png:checked + label {
  border-color: $red;
}
#user_profile_picture_cowboy_png + label {
  background-image: url("cowboy.png");
}
#user_profile_picture_cowboy_png:checked + label {
  border-color: $red;
}
// not done
#user_profile_picture_desert_png + label {
  background-image: url("desert.png");
}
#user_profile_picture_desert_png:checked + label {
  border-color: $red;
}
#user_profile_picture_fisherman_png + label {
  background-image: url("fisherman.png");
}
#user_profile_picture_fisherman_png:checked + label {
  border-color: $red;
}
#user_profile_picture_hip-hop_png + label {
  background-image: url("hip-hop.png");
}
#user_profile_picture_hip-hop_png:checked + label {
  border-color: $red;
}
#user_profile_picture_lego-helmet_png + label {
  background-image: url("lego-helmet.png");
}
#user_profile_picture_lego-helmet_png:checked + label {
  border-color: $red;
}
#user_profile_picture_lego-prof_png + label {
  background-image: url("lego-prof.png");
}
#user_profile_picture_lego-prof_png:checked + label {
  border-color: $red;
}
#user_profile_picture_man_png + label {
  background-image: url("man.png");
}
#user_profile_picture_man_png:checked + label {
  border-color: $red;
}
#user_profile_picture_ninja_png + label {
  background-image: url("ninja.png");
}
#user_profile_picture_ninja_png:checked + label {
  border-color: $red;
}
#user_profile_picture_spiderman_png + label {
  background-image: url("spiderman.png");
}
#user_profile_picture_spiderman_png:checked + label {
  border-color: $red;
}
#user_profile_picture_thief_png + label {
  background-image: url("thief.png");
}
#user_profile_picture_thief_png:checked + label {
  border-color: $red;
}
#user_profile_picture_woman_png + label {
  background-image: url("woman.png");
}
#user_profile_picture_woman_png:checked + label {
  border-color: $red;
}




















.user_profile_picture_cheerleader_png {
  background-image: url("cheerleader.png");
  background-color: #B38CB4;
  transition: all 0.5s ease-in-out;
}
.user_profile_picture_cowboy_png {
  background-image: url("cowboy.png");
  background-color: #B38CB4;
  transition: all 0.5s ease-in-out;
}
.user_profile_picture_desert_png {
  background-image: url("desert.png");
  background-color: #B5B292;
  transition: all 0.5s ease-in-out;
}
.user_profile_picture_fisherman_png {
  background-image: url("fisherman.png");
  background-color: #496F5B;;
  transition: all 0.5s ease-in-out;
}
.user_profile_picture_hip-hop_png {
  background-image: url("hip-hop.png");
  background-color: #097167;
  transition: all 0.5s ease-in-out;
}
.user_profile_picture_lego-helmet_png {
  background-image: url("lego-helmet.png");
  background-color: #241E4E;
  transition: all 0.5s ease-in-out;
}
.user_profile_picture_lego-prof_png {
  background-image: url("lego-prof.png");
  background-color: #B5446E;
  transition: all 0.5s ease-in-out;
}
.user_profile_picture_man_png {
  background-image: url("man.png");
  background-color: #B38CB4;
  transition: all 0.5s ease-in-out;
}
.user_profile_picture_ninja_png {
  background-image: url("ninja.png");
  background-color: #B38CB4;
  transition: all 0.5s ease-in-out;
}

.user_profile_picture_spiderman_png {
  background-image: url("spiderman.png");
  background-color: #B38CB4;
  transition: all 0.5s ease-in-out;
}
.user_profile_picture_thief_png {
  background-image: url("thief.png");
  background-color: #B38CB4;
  transition: all 0.5s ease-in-out;
}
.user_profile_picture_woman_png {
  background-image: url("woman.png");
  background-color: #B38CB4;
  transition: all 0.5s ease-in-out;
}
.transition{
  transition: all 0.5s ease-in-out;
}
