<% if user_signed_in? %>

<% else %>
  <div class="pughs-navbar">
    <div class="logo"></div>
    <div class="navbar-container">
      <div class="home-search">
        <button class="navbar-buttons">
          <i class="fa-solid fa-house"></i>
          Home
        </button>
        <button class="navbar-buttons margin-top">
          <i class="fa-solid fa-magnifying-glass"></i>
          Search
        </button>
      </div>
      <div class="login-signup">
          <%# <button class="navbar-buttons"> %>
        <%= link_to new_user_session_path, class: "navbar-buttons" do %>
            <i class="fa-regular fa-user" id="user-icon"></i>
            Login
        <% end %>
          <%# </button> %>
        <button class="navbar-buttons margin-top">
          <i class="fa-solid fa-user" id="user-icon"></i>
          Sign up
        </button>
      </div>
    </div>
  </div>
<% end %>
